<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="list.itemName" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.addItem(list.itemName)">Narrow It Down For Me!</button>
    </div>

    <div class="foodList">
    <food-list
        items="list.found"
        message="{{list.message}}"
        on-remove="list.removeItem(index)">
        </food-list>
</div>

  </div>

<script src="scripts/angular-1.6.min.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>
